.foto-ander {
    width: 200px;

    border: 5px solid #b49b57;
    /* margin: auto; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.links-rodape {
    font-size: 1rem;
}
.links-rodape i {
    padding: 1rem;
    border-radius: 50%;
    background-color: #b49b57;
    color: white;
}

.links-rodape li {
    margin: 0.1rem;
    display: flex;
}
.links-rodape a {
    z-index: 1;
}
.links-rodape p {
    background-color: #c0c0c0;
    color: white;
    margin: auto -10px;
    padding: 0 15px;
    z-index: 0;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 0.3rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: auto;
}

.coluna-foto {
    grid-column: 1/3;
}
.coluna-conteudo {
    grid-column: 3/6;
}

h4 {
    font-weight: 100;
    letter-spacing: 0.1em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}
body {
    font-weight: 300;
}
ul.lista-ander {
    list-style: none;
}
ul.lista-ander li {
    position: relative;
}
ul.lista-ander li::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: -30px;
    background-color: #fff;
    border: 2.5px solid #b49b57;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
.lista-ander li::before {
    content: "";
    position: absolute;
    width: 2px;
    background-color: #ccc;
    top: 0;
    bottom: 0;
    left: -23px;
}

.place {
    font-weight: 400;
    font-size: 1.2rem;
}
.job {
    font-size: 1.2rem;
}
.desc {
    font-style: italic;
}
dt {
    font-weight: 300;
    font-size: 1.4rem;
    background-color: #c0c0c0;
    margin-bottom: 0.2rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(150, 150, 150, 0.74);
}
dd {
    margin-bottom: 0.2rem;
}

dd li {
    font-size: 1.1rem;
}
